
:root
{
    --lightbox-bg-color: rgba(0, 0, 0, 0.75);
}


#lightbox
{
    display: none; /* Hide by defult */
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var( --lightbox-bg-color);
}


#lightbox.active
{
    display: flex;
    justify-content: center;
    align-items: center;
}


#lightbox img 
{
    max-width: 90%;
    max-height: 90%;
    padding: 5px;
    background-color: black;
    border: 2px solid white;    
}